<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .shop:hover .nested-ul {
            display: flex;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!--? Font Awesome Icons Started -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--` Font Awesome Icons Ended -->
    <!--? Google Fonts Started -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <!--` Google Fonts Ended -->
    <!--? Stylesheet Started -->
    <link rel="stylesheet" href="<%= url %>/stylesheets/output.css" />
    <!--` Stylesheet Ended -->
    <!--? Favicon Started -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/images/favicons/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!--` Favicon Ended -->
    <title>Zubiz Shop</title>
</head>

<body>
    <!--? Navbar for Desktop -->
    <nav class="md:hidden lg:flex w-full z-50 px-8 py-2 flex items-center justify-center ">
        <div class="left w-[15%] ">
            <a href="/">
                <img src="/images/black-logo.png" alt="" class="w-[60px]">
            </a>
        </div>
        <div class="right w-[85%] flex items-center justify-center">
            <div class="link-div w-[55%] flex items-center justify-center ">
                <ul class="w-full flex items-center justify-evenly relative">
                    <li><a href="/" class="text-xl">Home</a></li>
                    <li class="shop text-xl cursor-pointer">Shop <i class="fa-solid fa-angle-down"></i>
                        <ul
                            class="nested-ul z-10 shadow-[0px_8px_16px_0px_rgba(0,0,0,0.2)] absolute min-w-[160px] bg-color_1 hidden items-start justify-center flex-col ">
                            <li style="transition: 0.6s;"
                                class="hover:bg-greyLight border-greyLight border-b-[1px] cursor-pointer w-full"><a
                                    href="/women" class="p-[12px_16px] no-underline block text-left">Women
                                    Dresses
                            <li style="transition: 0.6s;"
                                class="hover:bg-greyLight border-greyLight border-b-[1px] cursor-pointer w-full"><a
                                    href="/men" class=" p-[12px_16px] no-underline block text-left">Men Dresses
                                </a></li>
                            <li style="transition: 0.6s;"
                                class="hover:bg-greyLight border-greyLight border-b-[1px] cursor-pointer w-full"><a
                                    href="/accessories" class=" p-[12px_16px] no-underline block text-left">Bags &
                                    Accessories

                                </a></li>
                            <li style="transition: 0.6s;"
                                class="hover:bg-greyLight border-greyLight border-b-[1px] cursor-pointer w-full"><a
                                    href="/watches" class=" p-[12px_16px] no-underline block text-left">Watches

                                </a></li>
                            <li style="transition: 0.6s;"
                                class="hover:bg-greyLight border-greyLight border-b-[1px] cursor-pointer w-full"><a
                                    href="/fragrances" class=" p-[12px_16px] no-underline block text-left">Fragrances

                                </a></li>
                            <li style="transition: 0.6s;"
                                class="hover:bg-greyLight border-greyLight border-b-[1px] cursor-pointer w-full"><a
                                    href="/jewelry" class=" p-[12px_16px] no-underline block text-left">Jewelry

                                </a></li>
                        </ul>
                    </li>
                    </li>
                    <li><a href="/contact" class="text-xl">Contact Us </a></li>
                    <li><a href="/about" class="text-xl">About Us</a></li>
                </ul>
            </div>
            <div class="button-div w-[45%] flex items-center justify-end gap-6">

                <a href="#"
                    class="rounded-3xl bg-color_3 font-semibold px-14 py-2 font-[Poppins] text-sm  text-color_6">Sign
                    Up</a>
                <a href="#"
                    class="rounded-3xl border-[2px] font-semibold border-color_3 px-14 py-2 font-[Poppins] text-sm text-color_3">Sign

                    In</a>

            </div>
        </div>
    </nav>
    <!--` Navbar for Desktop -->
    <h1
        class=" relative flex items-center justify-center text-6xl text-center bg-color_4 text-color_6 py-5 font-bold font-[overlock]">
        MEN DRESSES COLLECTION <i class="fa-solid fa-filter text-3xl text-color_6 absolute right-0 px-5"></i>
    </h1>
    <div class="cardMainDiv w-full px-5 py-5 flex items-center justify-evenly flex-wrap">
        <!-- <div class="card w-auto lg:w-56 mb-10 h-[540px] overflow-hidden flex items-center justify-between flex-col">
            <div class="image-div w-full h-[65%] overflow-hidden flex items-start justify-center">
                <img src=" /images/pant1.png" alt="" />
            </div>
            <div id="text-div" class="flex w-full flex-col items-center justify-end h-[45%]">
                <p class="font-[Poppins] text-xl font-semibold text-center">
                    Lorem ipsum dolor
                </p>
                <p class="font-[Poppins] text-lg text-center px-2">
                    Lorem ipsum dolor sit, amet consectetur
                </p>
                <p class="font-[Poppins] text-2xl font-semibold">PKR. 2550
                </p>
                <a href="#"
                    class="flex w-full items-center justify-center border-2 border-color_4 py-2 text-2xl font-semibold text-color_4">Add
                    to cart</a>
            </div>
        </div> -->
    </div>
</body>
<script src="/javascripts/men.js"></script>

</html>